<<<<<<< HEAD
<!DOCtype html>
<link rel = "stylesheet" href = "css/style.css">
<header>
<h4>Class is in session!</h4>
</header>
<p>how many stidents are here today?</p>

<form method = "post" action = "names" id = "text_box">
    <input type ="number" min = 2 autofocus = "autofocus" id ="myInput" oninput = "myFunction()" >
    <p>id = "demo"></p>
    <br>
    <br>
    <input type = "submit">
</form></center>

<script>
    function myFunction() {
        var x = document.getElementById("myInput").value;
        var y = "";
        for (i = 0; i < x; i++) 
        document.getElementById("demo").innerHTML = "Enter their names in the boxes below:<br>";
            for (var i = 1; i <= x; i++){
            var input = document.createElement("input");
            input.type = "text";
            input.name = "text" + i;
            document.getElementById("demo").appendChild(input).value;
            }
    }
</script>














=======
<html lang ="en">
<div class="fixed-bg">
<link rel="stylesheet" href="css/coin_style.css">
<meta charset="utf-8">
<header>

	<title>Pairings</title>
	<meta name="descriptions" content="pairings">
	<meta name="author" content="Minedminds">
	<h1><i><b>Pairings</b></i></h1>
>>>>>>> 406d99370598f3d33547eb9b915a0807c6dab321
